<!doctype html>
<html lang="en">

<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS v5.2.1 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Datos del admin
                </div>
                <div class="card-body">
                    <form action="/operadores/crear/super_admin" method="post">
                        <div class="mb-3">
                            <label for="usuario" class="form-label">Usuario: </label>
                            <input type="text"
                            class="form-control" name="usuario" id="usuario" aria-describedby="helpId" placeholder="Escriba el usuario">
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre: </label>
                            <input type="text"
                            class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="Escriba el nombre">
                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido: </label>
                            <input type="text"
                            class="form-control" name="apellido" id="apellido" aria-describedby="helpId" placeholder="apellido">
                        </div>
                        <div class="mb-3">
                            <label for="cedula" class="form-label">Cedula: </label>
                            <input type="text"
                            class="form-control" name="cedula" id="cedula" aria-describedby="txtCorreo " placeholder="cedula">
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Telefono: </label>
                            <input type="tel"
                            class="form-control" name="telefono" id="telefono" aria-describedby="helpId" placeholder="Celular ">
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo: </label>
                            <input type="email"
                            class="form-control" name="correo" id="correo" aria-describedby="helpId" placeholder="correo">
                        </div>
                        <div class="mb-3">
                            <label for="contrasena" class="form-label">Contraseña: </label>
                            <input type="password"
                            class="form-control" name="contrasena" id="contrasena" aria-describedby="helpId" placeholder="contraseña">
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label">Rol = Super admin</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    Footer
                </div>
            </div>
        </div>
        <div class="col-md-7">
            
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Celular</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Fecha de registro</th>
                            <th scope="col">Usuario que registro</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resul in operadores %}
                        <tr class="">
                            <td scope="row">{{ resul[0] }}</td>
                            <td>{{ resul[1] }}</td>
                            <td>{{ resul[2] }}</td>
                            <td>{{ resul[3] }}</td>
                            <td>{{ resul[4] }}</td>
                            <td>{{ resul[5] }}</td>
                            <td>{{ resul[6] }}</td>
                            <td>{{ resul[8] }}</td>
                            <td>{{ resul[9] }}</td>
                            <td>{{ resul[10] }}</td>
                            <td><a class="btn btn-success" href="/admin/desactivarOpe/{{resul[0]}}">Desactivar</a></td>                           
                            {% if session["rol"] == 'su' %}
                            <td>
                                <form action="" method="post">
                                    <input type="hidden" name="txtID" id="txtID" value="{{resul[0]}}">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>                              
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            

        </div>
    </div>
</div>














<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
</body>

</html>